<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


 <test name="TLLogin">
    <classes>
      <class name="tests.TLLogin"/>
    </classes>
  </test> <!-- Test -->
  

    <test name="PendingStatusVerified">
    <classes>
      <class name="tests.PendingStatusVerified"/>
    </classes>
  </test> <!-- Test -->





   <test name="VerifyRemarkBalnceSatuseField">
    <classes>
      <class name="tests.VerifyRemarkBalnceSatuseField"/>
    </classes>
  </test> <!-- Test -->

   <test name="EditDataPendingStatus">
    <classes>
      <class name="tests.EditDataPendingStatus"/>
    </classes>
  </test> <!-- Test -->

 
  
  
      <test name="VerifyReportsTL">
    <classes>
      <class name="tests.VerifyReportsTL"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="CurrentDayRecord">
    <classes>
      <class name="tests.CurrentDayRecord"/>
    </classes>
  </test> <!-- Test -->

  <test name="RejectRecords">
    <classes>
      <class name="tests.RejectRecords"/>
    </classes>
  </test> <!-- Test -->
    
   
     <test name="VerifiedUpdatedRecordsEdit">
    <classes>
      <class name="tests.VerifiedUpdatedRecordsEdit"/>
    </classes>
  </test> <!-- Test -->
  



  
   
  
</suite> <!-- Suite -->
