<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Login">
    <classes>
      <class name="tests.AccountConfigScreen"/>
    </classes>
  </test> <!-- Test -->
 
   <test name="Test">
    <classes>
      <class name="tests.AccountConfiguration"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Test">
    <classes>
      <class name="tests.AdminConfigCancel"/>
    </classes>
  </test> <!-- Test -->
  
     <test name="Test">
    <classes>
      <class name="tests.CurrentDayRecord"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="Test">
    <classes>
      <class name="tests.CurrentDayRecord"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Test">
    <classes>
      <class name="tests.dailyEntryViewEditLink"/>
    </classes>
  </test> <!-- Test -->
  
     <test name="Test">
    <classes>
      <class name="tests.InactiveTLConfig/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Test">
    <classes>
      <class name="tests.EditDataPendingStatus"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="Test">
    <classes>
      <class name="tests.EditDataPendingStatus"/>
    </classes>
  </test> <!-- Test -->
  
        <test name="Test">
    <classes>
      <class name="tests.OperationManager"/>
    </classes>
  </test> <!-- Test -->
  
         <test name="Test">
    <classes>
      <class name="tests.OperationManager"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="Test">
    <classes>
      <class name="tests.OperationManagerPending"/>
    </classes>
  </test> <!-- Test -->
   
   
     <test name="Test">
    <classes>
      <class name="tests.PendingStatusVerified"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Test">
    <classes>
      <class name="tests.RejectRecords"/>
    </classes>
  </test> <!-- Test -->
   
   <test name="Test">
    <classes>
      <class name="tests.RejectRecords"/>
    </classes>
  </test> <!-- Test -->
   
   
      <test name="Test">
    <classes>
      <class name="tests.TLConfiguration"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="Test">
    <classes>
      <class name="tests.TLConfigurationScreen"/>
    </classes>
  </test> <!-- Test -->
   
   
         <test name="Test">
    <classes>
      <class name="tests.VerifiedUpdatedRecordsEdit"/>
    </classes>
  </test> <!-- Test -->
   
  
       <test name="Test">
    <classes>
      <class name="tests.VerifyRemarkBalnceSatuseField"/>
    </classes>
  </test> <!-- Test -->
   
       <test name="Test">
    <classes>
      <class name="tests.VerifyReportsTL"/>
    </classes>
  </test> <!-- Test -->
  
         <test name="Test">
    <classes>
      <class name="tests.VerifyTLConfigClearBtn"/>
    </classes>
  </test> <!-- Test -->
   
        <test name="Test">
    <classes>
      <class name="tests.VerifyTLConfigDisable"/>
    </classes>
  </test> <!-- Test -->
   
      <test name="Test">
    <classes>
      <class name="tests.VerifyTLConnfigEdit"/>
    </classes>
  </test> <!-- Test -->
 
  
</suite> <!-- Suite -->
